SERVER_PORT=8080
DATABASE_URL=
API_KEY=

WALLET_NAME=litepay

# Nodes configuration
LTC_RPC_HOST=http://localhost:19332
LTC_RPC_USER=YOUR_RPC_USER
LTC_RPC_PASSWORD=YOUR_RPC_PASSWORD

BCH_RPC_HOST=http://192.168.249.55:1002
BCH_RPC_USER=YOUR_RPC_USER
BCH_RPC_PASSWORD=YOUR_RPC_PASSWORD